@font-face {
    font-family: myFirstFont;
    src: url('./MVBOLI.TTF');
  }

body {
    overflow: hidden;
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: myFirstFont
}

canvas {
    position: absolute;
    top:0;
    left: 0;
}

#container {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: none;
    background-color: rgba(0, 0, 0, 0.864);
    flex-direction: column;
    max-width: 70%;
    max-height: 60%;
    border-radius: 1em;
    overflow-y: auto;
    position: absolute;
    opacity: 0;
    transition: .7s;
    padding: 2em;
    color: rgba(255, 255, 255, 0.952);
}

#about {
    box-shadow: 0 0 .2em .2em rgb(255, 0, 0),  /* inner white */
    0 0 .4em .4em rgb(255, 47, 47), /* middle magenta */
    0 0 .6em .6em rgb(255, 94, 94); /* outer cyan */;
}

#projects {
    box-shadow: 0 0 .2em .2em rgb(255, 123, 0),  /* inner white */
    0 0 .4em .4em rgb(255, 102, 0), /* middle magenta */
    0 0 .6em .6em rgb(255, 130, 57); /* outer cyan */;
}
#home {
    box-shadow: 0 0 .2em .2em rgb(251, 255, 0),  /* inner white */
    0 0 .4em .4em rgb(252, 255, 47), /* middle magenta */
    0 0 .6em .6em rgb(255, 244, 94); /* outer cyan */;
}
#links {
    width: 70%;
    box-shadow: 0 0 .2em .2em rgb(115, 255, 0),  /* inner white */
    0 0 .4em .4em rgb(47, 255, 71), /* middle magenta */
    0 0 .6em .6em rgb(121, 255, 94); /* outer cyan */;
}
#resume {
    box-shadow: 0 0 .2em .2em rgb(0, 229, 255),  /* inner white */
    0 0 .4em .4em rgb(47, 234, 255), /* middle magenta */
    0 0 .6em .6em rgb(94, 234, 255); /* outer cyan */;
}
#contact {
    width: 60%;
    box-shadow: 0 0 .2em .2em rgb(187, 0, 255),  /* inner white */
    0 0 .4em .4em rgb(147, 47, 255), /* middle magenta */
    0 0 .6em .6em rgb(204, 94, 255); /* outer cyan */;
}

#poke {
    height: 15em;
    border-radius: 1em;
    width: auto;
    
}

#poke-about {
    display: flex;
    gap: 2em;
    align-items: center;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
}

header h2 {
    font-size: 3em;
}

header p {
    font-size: 2em;
    line-height: 1.5;
}

::-webkit-scrollbar {
    display: none;
}

.projectPic{
    border-radius: 15px;
    border: rgba(0, 0, 0, 0.415) solid 1px;
    width: 18vw;
    box-shadow: 0 0 .1em .1em rgb(255, 174, 0),  /* inner white */
    0 0 .2em .2em rgb(255, 153, 0), /* middle magenta */
    0 0 .4em .4em rgb(255, 146, 57); /* outer cyan */;
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2vw;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#whet {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 5vh;
}

header h3 {
    font-size: 4vh;
}

section p {
    text-align: center;
    margin: 1em 0;
    line-height: 1.4;
}

.actions {
    display: flex;
}

.actions li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    width: 100%;
}

#links ul {
    display: flex;
    justify-content: space-around;
}

#links li {
    display: flex;
    flex-direction: column;
}

#links li img {
    filter: invert(1);
    height: 8em;

}

#contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#volume {
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 3vw;
    padding: 1vw;
}

#volume-icon {
    filter: invert(1);
    filter: hue-rotate(100);
    user-select: none;
}

#volume-slider {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    display: none;
    background: #d3d3d35d;
    outline: none;
}
input[name=rangeInput] {
    color: #04AA6D;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    color: #04AA6D; /* Green background */
    cursor: pointer;
}
#form-fields {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1em;
    box-shadow: 0 0 .2em .2em rgb(187, 0, 255),  /* inner white */
    0 0 .4em .4em rgb(147, 47, 255), /* middle magenta */
    0 0 .6em .6em rgb(204, 94, 255); /* outer cyan */;
    border-radius: 1em;
    background-color: rgb(228, 228, 228);
}

#name, #email, #message {
    padding: 2vh;
    border-style: none;
    background-color: transparent;
    outline: none;
}
#name, #email {
    border-bottom: solid 1px rgba(94, 0, 157, 0.987);
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 2vh;
}

.form-button {
    box-shadow: 0 0 .1em .1em rgb(187, 0, 255), /* inner white */ 0 0 .2em .2em rgb(147, 47, 255), /* middle magenta */ 0 0 .3em .3em rgb(204, 94, 255);
    border-style: none;
    border-radius: 1em;
    padding: 1vh;
    background: #8e00e95c;
    color: white;
    font-family: 'myFirstFont';
}

.close {
    width: fit-content;
    position: absolute;
    right: 1vw;
    top: 1vh;
    background: transparent;
    border-style: none;
    font-family: 'myFirstFont';
    font-size: 3vh;
}

#project-close {
    color: orange;
}
#about-close {
    color: red;
}
#links-close {
    color: greenyellow;
}
#contact-close {
    color: rgb(238, 0, 255);
}

#error {
    opacity: 0;
    transition: .5s;
    font-size: 3vh;
}